$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$white: #fff;
$backg-grey: rgb(233, 233, 233);
$backg-lightgrey: rgb(241, 241, 241);
$backg-darkgrey: rgb(71, 71, 71);

$box-shadow-card: 0 4px 8px 0 rgba(0,0,0,0.2);